---
import Bold from '@/components/common/Bold.astro'
import CarouselReact from './Carousel'
import Icon from '@/assets/icons/icon.astro'
import { ICON } from '@/assets/icons/icon'
---

<section class="flex flex-col items-center py-32 gap-24">
	<Bold>NUESTRAS <span>TECNOLOGÍAS</span></Bold>
	<CarouselReact client:visible>
		<Icon type={ICON.REACT} slot={'React'} />
		<Icon type={ICON.TYPESCRIPT} slot={'Typescript'} />
		<Icon type={ICON.ANGULAR} slot={'Angular'} />
		<Icon type={ICON.DOTNET} slot={'.NET'} />
		<Icon type={ICON.DATABASE} slot={'PostgreSQL'} />
		<Icon type={ICON.TAILWIND} slot={'Tailwind'} />
		<Icon type={ICON.ASTRO} slot={'Astro'} />
		<Icon type={ICON.ARCGIS} slot={'ArcGIS'} />
	</CarouselReact>
</section>
